BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
AlignOperands: true
AlignConsecutiveAssignments: false
AlignTrailingComments: true
IncludeBlocks: Preserve
SortIncludes: false
